# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: React Manual Deploy

on:
  workflow_dispatch:
    inputs:
      deploy_env:
        description: "Deploy Environment"
        required: true
        default: "production"

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci

    - name: Build React app
      run: npm run build

    - name: Deploy to Nginx
      run: |
        sudo rm -rf /var/www/html/*
        sudo cp -r dist/* /var/www/html/
